body {
    display: flex;
    border: 10px solid blue;
}

aside {
    border: 5px solid black;
}

nav {
    padding-top: 20vh;
}

#root {
    width: 100%;
    height: 100vh;
    border: 5px solid black;
}

.name {
    text-align: right;
    margin-right: 10vw;
    width: 100%;
    flex-wrap: wrap;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

i {
    margin-top: 5vh;
}